header{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: center;
}
body {
    background-color: blue;
    color: white;
}

.img {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
}
form {
    display: flex;
    justify-content: column;
}